.navbar-brand {
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  span {
    padding-top: 6px
  }
}
.CallSign {
  margin-left: 20px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
  //background-color: red;
}

.logo {
  height: 36px;
  padding-right: 20px;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
}

.nav-item {
  padding-left: 30px;
}

.grow-to-end {
  flex: 1;
}
