/* You can add global styles to this file, and also import other style files */

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container-fluid {
  margin-top: 60px;
  margin: auto;
  text-align: center;
  width: 98%;
  height: 90%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
