.footer-link {
  color: lightgray;
  font-size: x-small;
  text-decoration: none !important;
}


.copyright-footer {
  color: lightgray;
  font-size: x-small;
  text-decoration: none !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}
