body {
  font-family: sans-serif;
  height: 100%
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container-fluid {
  margin: auto;
  text-align: center;
  width: 98%;
  height: 90%;
}

.title {
  font-size: 3rem;
}

.LoRa {
  width: 100%;
  min-height: 390px;
}

.OE3XKN {
  width: 100%;
  height: 700px;
  margin-top: 80px;
  background-color: white;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
}

.nav-item {
  padding-left: 30px;
}

a:link {
  text-decoration: none !important;
  color: royalblue;
}

a:hover {
  color: silver;
}

.menu {
  padding-top: 80px;
}

.text {
  line-height: 150%;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  color: #343A40
}

.list {
  line-height: 150%;
  text-align: left;
  color: #343A40
}

.col-sm-5 iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.navbar-brand {
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

#waterfall {
  display: block;
  width: 100%;
  height: 100%;
}

#containerWaterfall {
  position: relative;
}

.status {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 50px;
  margin-bottom: 20px;
  height: 30px;
  text-align: left;
  line-height: 30px;
  color: white;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

#log {
  white-space: nowrap;
  text-shadow: 0 1px 0 darken(red, 10%); /* this is a sass function - it will not work here */
}

.btn {
  background-color: #212529;
  color: white;
  border: none;
  padding: 4px;
  box-shadow: none;
}

.dropdown-menu a.dropdown-item {
  background-color: #343A40;
  color: white;
  border: none;
  padding: 4px;
  box-shadow: none;
  border-radius: 0;
}

.dropdown-menu.show {
  color: white;
  background-color: #343A40;
  border: none;
  padding: 4px;
  box-shadow:none;
  border-radius: 0;
  position: absolute;
  will-change: transform;
  top: 0;
  left: 30px;
  transform: translate3d(0px, 36px, 0px);
}

.btn:focus {
  color: white;
  background-color: red;
  border: none;
  padding: 4px;
  box-shadow: none;
  border-radius: 0;
}

.btn:hover {
  color: white;
  background-color: red;
  border: none;
  padding: 4px;
  box-shadow: none;
  border-radius: 0;
}

.dropdown-menu a.dropdown-item:hover {
  color: white;
  background-color: red;
  border: none;
  padding: 4px;
  box-shadow: none;
  border-radius: 0;
}

.parameter {
  margin-top: 10px;
}

.center {
  color:#343A40;
  text-align: center;
  font-size: x-small;
}

.min{
  color:#343A40;
  text-align: left;
  font-size: x-small;
  margin-left: 20px;
}

.max {
  color:#343A40;
  text-align: right;
  font-size: x-small;
  margin-right: 20px;
}

.copyright-footer {
  color: lightgray;
  font-size: x-small;
  text-decoration: none !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.CallSign {
  margin-left: 20px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
  background-color: red;"
}