body {
    font-family: sans-serif;
  }
  
  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    display:grid;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  /* Center the content in the browser window */
  .container-fluid {
    margin: auto;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
  }
  
  .LoRa {
    width: 100%;
    min-height:390px;
  }

  .OE3XKN {
    width: 100%;
    height: 700px;
    margin-top: 80px;
    background-color: white;
  }

  /* Style the navigation menu */
.navbar {
  width: 100%;
}

.nav-item {
  padding-left: 30px;
}

.footer {
  position:sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343A40;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: smaller;
}

a:link {
  text-decoration: none !important;
  color:royalblue;
}

a:hover {
  color:silver;
}

.menu {
  padding-top: 80px;
}

.text {
  line-height: 150%;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  color:#343A40
}

.list {
  line-height: 150%; 
  text-align: left;
  color:#343A40
}

.col-sm-5 iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.navbar-brand {
  font-size: x-large;
}